#contentBannerHome{
    color:white; 
    position: absolute; 
    margin-top: 100px;
}

#contentBannerHome h1{
    font-size: 50px;
}

#contentBannerHome p{
    font-size: 20px;
}

#aboutMeRow{
    margin-top: 100px;
}

#skillsRow{
    margin-top: 100px;
}

#servicesRow{
    margin-top: 100px;
    text-align: center;
}

#projectsRow{
    margin-top: 100px;
    text-align: center;
}

#contactRor{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

footer{
    text-align: center;
    margin-bottom: 100px;
    border-top: 1px solid black;
    padding-top:50px;
}

#contentEnlacesFooter{
    margin-bottom: 50px;
}